.header {
  height: 80px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: var(--p-card-shadow, 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15));

  &__logo {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    font-weight: 600;
  }
}

.logout {
  margin-left: auto;
  text-decoration: none;
  position: relative;
  height: 30px;

  &__button {
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background: none;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 28px 0 10px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    height: 6px;
    width: 6px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotateZ(45deg);
  }

  &__list {
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #fff;
  }

  &__listItem {
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 0;
    transition: 0.2s;

    &:hover {
      background-color: #ecf1ff;
    }
  }
}

.logo {
  width: 200px;
}