.pay {
  &__actions {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-column-gap: 20px;
    margin-bottom: 20px;
  }

  &__btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 4px;
    border-radius: 4px;

    &:hover {
      border-color: rgba(85, 111, 183, 0.4);
    }

    &.active {
      border-color: #556fb7;
      pointer-events: none;

      .pay {
        &__btnText {
          opacity: 1;
        }
      }
    }
  }

  &__btnImg {
    max-width: 100%;
    margin-bottom: 10px;
    max-height: 70px;
  }

  &__btnText {
    color: #fff;
    padding: 10px 0;
    background-color: #556fb7;
    border-radius: 16px;
    width: 100%;
    font-weight: 600;
    opacity: 0.5;
  }
}
