.table {
  &__wrapper {
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    overflow: hidden;
  }

  &__head {
    background-color: #f1f1f1;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
  }

  &__content {
    width: 100%;
    background-color: #eef0f7;
  }
}