.total {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }

  &__orderNum {
    font-size: 34px;
    line-height: 48px;
    font-weight: 600;
  }

  &__date {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }

  &__descr {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  &__total {
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 80px;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
  }

  &__img {
    margin-left: 20px;
  }
}